section{
    border-radius:10px;
    overflow:hidden;
}

/* Styling the about top section */
.about-top-section{
    max-width:1111px;
    min-height:480px;
    margin:64px auto;
    display:grid;
    grid-template-columns:1fr 1fr; 
}
.intro{
    background-image:url('./assets/shared/desktop/bg-pattern-small-circle.svg');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
    min-width:auto;
    
}
.intro-text
{
    margin:135px 95px;
}
.intro-text >h2{
    text-transform:capitalize;
    margin-bottom:32px; 
}
.about-img{
    width:100%;
    height:100%;
}


/* Styling the world-class and real-deal sections */
.world-class-section, .real-deal-section{
    border-radius:10px;
    max-width:1111px;
    min-height:640px;
    margin:130px auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    
}
.world-class-text, .real-deal-text{
    min-width:auto;
    background-color:#FDF3F0;
    background-image:url('./assets/shared/desktop/bg-pattern-two-circles.svg');
    background-repeat:no-repeat;
    background-position:bottom left;

}
.world-class-text-child, .real-deal-text-child
{
     padding:154px 96px; 
}
.world-class-talent-img,.real-deal-img{
    width:100%;
    height:100%;
}
.world-class-text-child > h2, .real-deal-text-child > h2{
    margin-bottom:24px;
    text-transform:capitalize;

}
 
/* styling the about location section */
.about-location{
    max-width:1111px;
    margin:auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.location > p{
    text-transform:uppercase;
    margin:48px 0 32px;
}

.location-img{
    position:relative
}

.bg-pattern-circle-canada, .bg-pattern-circle-australia, .bg-pattern-circle-uk{
    position:absolute;
    z-index:-1;
}
.bg-pattern-circle-australia{
    transform:rotate(90deg);
}
.bg-pattern-circle-uk{
    transform:rotate(180deg);
}

/* styling the see location button */
.btn-loc{
    padding:10px 16px;
    border-radius:8px;
    border:none;
    background-color:#E7816B;
    color:#fff;
}
.btn-loc:hover{
    cursor:pointer;
    background-color:#FFAD9B;
}

/* Responsiveness */
/* Tablet */

@media only screen and (max-width:912px)
{
    .about-top-section,.real-deal-section{
        display:flex;
        flex-direction:column-reverse;
        justify-content:space-evenly;
        
    }
    .world-class-section, .about-location{
        display:flex;
        flex-direction:column;
    }
    .world-class-talent-img,.real-deal-img, .about-img{
        aspect-ratio:2;
        flex-grow:1;
    }
    .world-class-text, .real-deal-text{
      flex-grow:1;
    }
    .world-class-text-child, .real-deal-text-child{
        padding:50px;
        text-align:center;
    }
    .intro-text{
        margin:50px;
        text-align:center;
    }
   
}

@media only screen and (max-width:767px)
{
    .intro{
        width:auto;
    }
}