/* Importing the Jost font family */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

/* Modern Css reset */
*, *::before, *::after{
    box-sizing:border-box;
}
body, h1, h2, h3, p{
    padding:0;
    margin:0;
    
}
img, picture{
    max-width:100%;
    display:block;
}

/* Defining global variables */
:root{
--peach:#E7816B;
--light_peach:#FFAD9B;
--black:#1D1C1E;
--dark_grey:#333136;
--white:#ffffff;
--light_grey:#F1F3F5;
}

/* Defining the Topography */

h1{
font-family:'Jost', sans-serif;
font-weight:500;
font-size:48px;
line-height:48px;
}

h2{
font-family:'Jost', sans-serif;
font-weight:500;
font-size:40px;
line-height:48px;
letter-spacing:2px;
text-transform:uppercase;
}

h3{
font-family:'Jost', sans-serif;
font-weight:500;
font-size:20px;  
line-height:26px;
letter-spacing:5px;
text-transform:uppercase;
}

body{
font-family:'Jost', sans-serif;
font-weight:400;
font-size:16px;
line-height:26px;
min-height:100vh;
position:relative;
}

/* Defining utility color classes */

/* Text colors */
.clr-peach{
    color:var(--peach);
}
.clr-light_peach{
    color:var(--light_peach);
}
.clr-black{
    color:var(--black);
}
.clr-white{
    color:var(--white);
}
.clr-light_grey{
    color:var(--light_grey)
}

/* background colors */
.bg-peach{
    background-color:var(--peach);
}
.bg-light_peach{
    background-color:var(--light_peach);
}
.bg-black{
    background-color:var(--black);
}
.bg-white{
    background-color:var(--white);
}
.bg-light_grey{
    background-color:var(--light_grey)
}

/* buttons style */
.btn-light{
    background-color:var(--peach);
    color:var(--white);
}
.btn-dark{
    background-color:var(--white);
    color:var(--black);
}
.btn-light:hover, .btn-light:focus-visible, .btn-dark:hover, .btn-dark:focus-visible{
    background-color:var(--light_peach);
    color:var(--wihte);
    cursor:pointer;
}
.btn{
    height:56px;
    width:152px;
    padding:18px 24px;
    border:none;
    border-radius:10px;
}
.center{
    text-align:center;
}

/* flex-display */
.flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* Navbar styling */
.navbar{
    width:1111px;
    height:24px;
    margin:30px auto 0;
}
.links{
   gap:30px;
}
.logo-img{
    width:196px;
    height:24px;
}
.navlink{
    color:var(--black);
    text-decoration:none;
    text-transform:uppercase;
}
.navlink:hover, .navlink:focus-visible, .bottomlink:hover, .bottomlink:focus-visible{
    text-decoration:underline;
}
/* top section */
.top-section{
    width:1111px;
    height:640px;
    margin: 50px auto;
    padding:145px 75px;
    position:relative;
    overflow:hidden;
    border:none;
    border-radius:10px;
}
.award{
    width:540px;
    height:350px;
    
}
.award-text{
    padding:40px 0;
}
.bg-pattern{
    position:absolute;
    top:0;
    right:0;
}
.hero-phone-img{
    position:absolute;
    top:-20px;
    right:0;
}

/* middle section */

.middle-section{
    width:1111px;
    height:640px;
    margin:160px auto;
    display:grid;
    grid-template-areas:
    "web_design app_design"
    "web_design  graphic_design";
    grid-gap:30px;
}

.web_design{
    grid-area:web_design;
    background-image:url('./assets/home/desktop/image-web-design-large.jpg');
}

.app_design{
    grid-area:app_design;
    background-image:url('./assets/home/desktop/image-app-design.jpg');
}

.graphic_design{
    grid-area:graphic_design;
    background-image:url('./assets/home/desktop/image-graphic-design.jpg');
}
.graphic_design, .web_design, .app_design{
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:var(--black);
    background-blend-mode:hard-light;
    border-radius:10px;
    display:grid;
    justify-content:center;
    align-items:center;
}
.graphic_design:hover, .graphic_design:focus-visible, .web_design:hover,
.web_design:focus-visible, .app_design:hover, .app_design:focus-visible{
    background-blend-mode:lighten;
    background-color:var(--peach);
    cursor:pointer;
}
.app_design_link, .graphic_design_link, .web_design_link{
    text-decoration:none;
    color:var(--white);
}
.next-pg{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:5px;
    text-transform:uppercase;
}

/* categories section */

.category{
    width:1111px;
    height:412px;
    margin:auto;
    text-align:center;
    color:var(--black);
    gap:30px;
}
.passionate, .resourceful, .friendly{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.passionate-img, .resourceful-img, .friendly-img{
    width:202px;
    position:relative;
    
}
.bg-circle-passionate, .bg-circle-friendly, .bg-circle-resourceful{
    position:absolute;
    z-index:-1000;
    
}
.bg-circle-friendly{
    transform:rotate(90deg);
}
.bg-circle-resourceful{
    transform:rotate(180deg);
}

/* footer */

.get_in_touch{
    width:1111px;
    height:292px;
    margin:50px auto;
    padding:95px;
    background-image:url('./assets/shared/desktop/bg-pattern-call-to-action.svg');
    background-size:cover;
    background-repeat:repeat;
    background-position:right center;
    border-radius:10px;
    position:relative;
    bottom:-110px;
    
}
.message{
    width:459px;
}
.message > h2{
    text-transform:lowercase;
    padding-bottom:15px;
}

.bottomlink{
    text-decoration:none;
    color:var(--white);
    text-transform:uppercase;
}
.contact{
    padding:144px 0 72px;
}
.footer-container{
    width:1111px;
    margin:auto;
}
.social_media{
    gap:10px;
}
.social_links{
    text-decoration:none;
}
.contact_details{
    align-items:flex-end;
    margin-top:20px;
}
.nav-bottom{
    margin-bottom:25px;
}

/* positioning the background leaf */
.bg-leaf-1{
    position:absolute;
    bottom:467px;
    right:0;
    transform:rotateY(180deg) rotateX(180deg);
    z-index:-100;
    
}
.bg-leaf-2{
    position:absolute;
    left:0;
    top:475px;
    z-index:-100;
}